.account{
    @include fluid(margin-top, 30px, 60px);
    &__wrapper{
        display: none;
        opacity: 0;
        justify-content: space-between;
        transition: .38s ease-in-out;
        &--opacity{
            opacity: 1;
        }
        &--display{
            display: flex;
        }
    }
    &__photo{
        @include fluid(width, 150px, 250px);
        @include fluid(height, 150px, 250px);
        margin: 0 auto;
        border-radius: 50%;
        padding: 5px;
        border: black 2px solid;
    }
    &__info{
        display: flex;
        gap: 20px;
        width: 40%;    
        align-items: center;
        flex-direction: column;
    }
    &__name{
        font-size: 24px;
    }
    .feedback{
        &__form{
            width: 50%;
            padding: 0;
            margin: 0;
        }
    }
}
#particles-js{
    height: 500px !important;
}
@media (max-width: 992px) {
    .account{
        &__wrapper{
            flex-direction: column;
        }
        &__info{
            width: 100%;
            margin-bottom: 30px;
        }
        .feedback__form{
            width: 100%;
        }
    }
}