.header{
    @include fluid(padding-top, 20px, 40px);
    @include fluid(padding-bottom, 20px, 40px);
    @include fluid(padding-left, 15px, 30px);
    @include fluid(padding-right, 15px, 30px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__bottom{
        display: flex;
        align-items: center;
        gap: 20px;
        &-basket{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            height: 100%;
            background-color: #222;
            border: 1px solid #222;
            transition: .38s ease-in-out;
            cursor: pointer;
            img{
                object-fit: contain;
                height: 17px;
                transition: .08s ease-in-out;
                filter: brightness(0) saturate(100%) invert(100%) 
                sepia(0%) saturate(7334%) hue-rotate(206deg) 
                brightness(111%) contrast(104%);
            }
            &:hover{
                background-color: transparent;
                img{
                    filter: none;
                }
            }
        }
    }
    &--white{
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        .logotype, .nav ul li a{
            color: #FFF;
        }
        .nav ul li{
            &::after{
                background-color: #FFF;
            }
        }
        .header{
            &__btn{
                background-color: #FFF;
                color: #000022;
            }
            &__bottom{
                &-basket{
                    border-color: #FFF;
                    background-color: #FFF;
                    img{
                        filter: brightness(0) saturate(100%) invert(12%) sepia(18%) saturate(26%) hue-rotate(42deg) brightness(101%) contrast(98%);
                    }
                    &:hover{
                        background-color: transparent;
                        img{
                            filter: brightness(0) saturate(100%) invert(93%) sepia(53%) saturate(2%) hue-rotate(270deg) brightness(105%) contrast(100%);
                        }
                    }
                }
            }
        }
    }
}
.nav{
    &--footer{
        ul li{
            @include fluid(font-size, 14px, 16px);
            color: #606366;
            transition: color .38s ease-in-out;
        }
        &:hover{
            color: #FFF;
        }
    }
    ul{
        @include fluid(gap, 15px, 30px);
        display: flex;
        li{
            position: relative;
            font-family: "Raleway";
            font-weight: 400;
            text-transform: uppercase;
            &::after{
                content: '';
                position: absolute;
                left: 0;
                top: 30px;
                width: 0;
                height: 2px;
                background-color: #222;
                transition: .38s ease-in-out;
            }
            &:hover, &.active{
                &::after{
                    width: 100%;
                }
            }
        }
    }
}
.logotype{
    text-transform: uppercase;
    font-size: 24px;
    span{
        font-weight: 600;
    }
    &--footer{
        color: #FFF;
    }
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
    color: #ffffff;
    border: 1px solid #222222;
    background-color: #222222;
    transition: all 0.38s ease-in-out;
    outline: none;
    cursor: pointer;
    &:hover{
        color: #222222;
        background-color: #ffffff;
    }
    &--white{
        background-color: #FFF;
        color: #000022;
        border-color: #FFF
    }
}

.blackBlock{
    background-color: #222;
    height: 300px;
}

.container{
    @include container;
}

@media (max-width: 540px) {
    .header{
        flex-wrap: wrap;
        row-gap: 25px;
    }
    .nav--header{
        width: 100%;
        order: 3;
        ul{
            justify-content: center;
        }
    }
}