.practice{
    width: 100%;
    &__title{
        @include fluid(font-size, 28px, 32px);
        text-align: center;
        font-weight: 600;
        margin: 0 auto;
        margin-bottom: 20px;
        color: #3e3e3e;
    }
    &__annotation{
        text-align: center;
        margin-bottom: 30px;
    }
    &__wrapper{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 30px;
    }
    &__item{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 25px 30px;
        background-color: #FFF;
        border: 1px solid #3e3e3e;
        transition: .38s ease-in-out;
        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0%;
            height: 100%;
            background-color: #3e3e3e;
            transition: all .38s;
            z-index: 0;
        }
        &:hover {
            color: #fff;
            &:before {
                width: 100%;
            }
            .practice__item-text p, .practice__item-title{
                color: #FFF;
            }
            .btn{
                background-color: #FFF;
                img{
                    filter: brightness(0) saturate(100%) invert(22%) sepia(12%) 
                    saturate(13%) hue-rotate(354deg) brightness(97%) contrast(92%);
                }
            }
        }
        &-title{
            @include fluid(font-size, 20px, 24px);
            position: relative;
            color: #3e3e3e;
            font-weight: 600;
            margin-bottom: 15px;
            transition: .38s ease-in-out;
        }
        p{
            position: relative;
            color: #3e3e3e;
        }
        .btn{
            position: relative;
            border: 1px solid transparent;
            padding: 0;
            width: 40px;
            height: 40px;
            img{
                object-fit: contain;
                height: 20px;
                rotate: -90deg;
                filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7487%) hue-rotate(187deg) brightness(107%) contrast(102%);
            }
        }
    }
    &__explanation{
        &-title{
            @include fluid(font-size, 18px, 20px);
            font-weight: 600;
            color: #3e3e3e;
            margin-bottom: 15px;
        }
        ul{
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-bottom: 15px;
            li{
                @include fluid(font-size, 16px, 18px);
                position: relative;
                padding-left: 15px;
                &::before{
                    content: '';
                    position: absolute;
                    width: 6px;
                    height: 6px;
                    background-color: #3e3e3e;
                    top: 50%;
                    left: 0;
                    translate: 0 -50%;
                }
            }
        }
        p{
            @include fluid(font-size, 16px, 18px);
        }
    }
}
code{
    padding: 2px 4px;
    background: #f7f4f3;
    border-radius: 2px;
    color: #716f6e;
}
