.textBlock{
    display: flex;
    flex-direction: column;
    gap: 15px;
    &__img{
        display: flex;
        justify-content: space-between;
        background-color: #f1f1f1;
        padding: 24px;
        img{
            object-fit: cover;
            width: 245px;
            height: 170px;
        }
    }
    &__ulCust{
        display: flex;
        flex-direction: column;
        gap: 10px;
        &-item{
            position: relative;
            padding-left: 40px;
            &::before{
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                background-repeat: no-repeat;
                background-size: cover;
                width: 28px;
                min-height: 28px;
                // background-size: 24px 24px;
                margin-left: 0;
            }
            &.js{
                &::before{
                    background-image: url(/image/icon/js.svg);
                }
            }
            &.code{
                &::before{
                    background-image: url(/image/icon/code.svg);
                }
            }
            &.browser{
                &::before{
                    background-image: url(/image/icon/browser.svg);
                }
            }
        }
    }
    .title{
        margin-bottom: 10px;
    }
    .subtitle{
        margin-bottom: 5px;
    }
    p{
        color: #222;
        b{
            font-weight: 600;
        }
    }
    ul{
        display: flex;
        flex-direction: column;
        gap: 10px;
        li{
            position: relative;
            padding-left: 15px;
            p{
                &:not(&:last-child){
                    margin-bottom: 10px;
                }
            }
            &::before{
                content: '';
                position: absolute;
                left: 0;
                top: 10px;
                translate: 0 -50%;
                width: 5px; 
                height: 5px;
                background-color: #222;
            }
        }
    }
    a, li a{
        color: #84a0ef;
    }
}

.subtitle{
    @include fluid(font-size, 22px, 24px);
    font-weight: 600;
    color: #222;
}